<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="exitportal1.component.scss">
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

</head>

<body>
    <div id="clr"></div>
    <div class="line"></div>
    <div id="heading">
        <h1>EXIT PORTAL</h1>
    </div>
    <div class="f1">
        <div class="first">
            <div class="first1">
                <img id="img" src="assets/image.jpg" alt="">
                <div>
                <p>Your credentials to redirect to Alumni Portal</p>
                <p id="hd1">We would Love to see<br>you again!<br> Explore!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sec">
        <div class="second">
            <p id="p1">Successfully Generated New Username and Password</p>
            <div class="internal">
                <p id="p2">You can use them to access Alumni Portal</p>
                <p id="p3">You can <Span id="p4">Redirect to AIMS here !</Span></p>
                <div class="ensp">Email</div>
                <div class="insp"><i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;new_mail@accolitedigital.com</div>
                <div class="ensp">Password</div>
                <div class="insp"><i class="glyphicon glyphicon-lock"></i>&nbsp;&nbsp;Accolite_new_password</div>
            </div>
        </div>
        <img id="img3" src="assets/image3.jpeg" alt="">
    </div>
</body>

</html>
