<!-- <p>exitportal works!</p> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="exitportal.component.scss">
</head>

<body>
    <br>
    <div class="line"></div>
    <br>
    <h1>EXIT PORTAL</h1>
    <div class="first">
        <div class="first1">
            <img src="assets/image.jpg" alt="">
            <div>
            <p>Your credentials to redirect to Alumni Portal</p>
            <p id="hd1">We would Love to see<br>you again!<br> Explore!</p>
            </div>
        </div>
    </div>

    <div class="second">
        <div class="second2">
            <div class="container">
                <form>
                    <label>Mail ID</label><br>
                    <input class="l1" type="text" id="Mail" placeholder="Enter existing Accolite mail ID"><br><br>
                    <label for="Password">Password</label><br>
                    <input class="l1" type="text" id="Password" name="Password" placeholder="Enter password"><br><br>
                    <label for="Employee">Employee ID</label><br>
                    <input class="l1" type="text" id="Employee" name="Employee" placeholder="Enter Employee ID"><br><br>
                </form>
            </div>
            <div class="container2">
                <form>
                    <label>Enter Address</label><br>
                    <input class="l1" type="text" id="Address" placeholder="Enter your present Address"><br><br>
                    <label>Did you handed over all the assests to IT Department</label><br><br>
                    <input type="radio" name="Did you handed over all the assests to IT Department">Yes<br><br>
                    <input type="radio" name="Did you handed over all the assests to IT Department">No<br>

                    <input class="cancel" type="button" value="Cancel">
                    <input class="Submit" type="button" value="Submit">

                </form>
            </div>

        </div>
        <div><img id="p1" src="assets\Image2.jpg" alt=""></div>
    </div>

</body>

</html>
